.atom-button-demo {
    .atom-btn {
        margin-right: 10px;
    }
}

.atom-icon-demo {
    display: flex;
    flex-wrap: wrap;
    .icon-item {
        margin-right: 20px;
        margin-bottom: 10px;
        width: 150px;
        span {
            margin-left: 10px;
        }
    }
}

.atom-input-demo {
    .input-item {
        width: 50%;
    }
}